.patient-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 32px;
}

.patient-profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.patient-profile img {
  width: 90px;
  height: 90px;

  border-radius: 50%;
}

.patient-profile h1 {
  font-size: 32px;
  color: #111827;
}

.patient-profile p {
  color: #6b7280;
  margin-top: 8px;
}

.patient-header button {
  background: #7c3aed;
  color: white;

  border: 0;

  padding: 14px 20px;

  border-radius: 12px;

  cursor: pointer;
}

.patient-stats {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

  gap: 24px;

  margin-bottom: 32px;
}

.info-card {
  background: white;

  padding: 24px;

  border-radius: 20px;

  display: flex;
  gap: 16px;

  align-items: center;

  box-shadow: 0 4px 12px rgba(0,0,0,0.04);
}

.info-card svg {
  color: #7c3aed;
}

.info-card span {
  color: #6b7280;
}

.info-card strong {
  display: block;
  margin-top: 6px;

  color: #111827;
}

.details-grid {
  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 24px;
}

.card {
  background: white;

  border-radius: 20px;

  padding: 24px;

  box-shadow: 0 4px 12px rgba(0,0,0,0.04);
}

.card h2 {
  margin-bottom: 24px;
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.timeline-item span {
  color: #7c3aed;
  font-size: 14px;
  font-weight: bold;
}

.timeline-item p {
  margin-top: 6px;
  color: #374151;
}

.exam-item {
  display: flex;
  gap: 14px;

  margin-bottom: 18px;
}

.exam-item svg {
  color: #7c3aed;
}

.exam-item p {
  color: #6b7280;
  margin-top: 4px;
}

.full {
  grid-column: 1 / -1;
}